$background: url('./../../../dist/image/background.png');
$texture: url('./../../../dist/image/texture.png');

.header {
	background-image: $background;
}

.header__top {
	height: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.header__top>div {
	margin-right: 15px;
}

.logo {
	margin-bottom: 20px;
}

.address,
.number {
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;

	&:hover {
		color: #68D6F4;
		text-decoration: none;
	}
}

.header__search {
	position: relative;
	width: 500px;

}

.header__search input[type="text"] {
	font-size: 14px;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	padding-left: 10px;
}

.header__search .search {
	position: absolute;
	right: 10px;
	top: 0;
	line-height: 40px;
}

div.search>a {
	font-size: 15px;
	color: #68D6F4;
	text-decoration: none;
	font-weight: 500;
}

.header__cart,
.header__private__cabinet {
	display: flex;
	align-items: center;
}

.cart >.cart__link,
.private__cabinet {
	font-size: 15px;
	text-decoration: underline dotted;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 5px;

	&:hover {
		color: #68D6F4;
		text-decoration: underline dotted;
	}
}

.cart,
.user {
	margin-right: 5px;
}

.user__icon {
	width: 23px;
	height: 25px;
}

.cart__icon {
	width: 27px;
	height: 25px;
}